<section class="ContactUs_Page">
  <div class="contact-article">
    <div class="contact-left">
      <h1>
        <%= __('CONTACTPAGE.TITLE') %>
      </h1>
      <p>
        <%= __('CONTACTPAGE.DESCRIPTION') %>
      </p>
    </div>

    <ul class="contact-details">
      <li>
        <img src="img/contact.png">
        <p>
          <a target="_blank" href="mailto:support@jiblatech.com">support@jiblatech.com</a>
        </p>
        <p>+965 22258259</p>
      </li>
      <li>
        <img src="img/location.png">
        <p>
          <%= __('CONTACTPAGE.ADDRESS1') %>
            <br>
            <%= __('CONTACTPAGE.ADDRESS2') %>
              <br>
              <%= __('CONTACTPAGE.CITY') %>
                <%= __('KUWAIT') %>
        </p>
      </li>
      <li>
        <img src="img/hours.png">
        <p>
          <strong>
            <%= __('SUNDAY') %> -
              <%= __('THURSDAY') %>
          </strong>8
          <%= __('AM') %> – 3
            <%= __('PM') %>
        </p>
      </li>
    </ul>
  </div>
</section>