<section class="cards-finance feature-cards">
  <div class="wrapper">
    <ul>
      <li>
        <div class="cards-inner">
          <img src="img/data.png">
          <h1>
            <%= __('FEATURESPAGE.DATA_TITLE') %>
          </h1>
          <div class="inner-sections">
            <div class="section">
              <h3>
                <%= __('FEATURESPAGE.DATA_SUBTITLE_1') %>
              </h3>
              <p>
                <%= __('FEATURESPAGE.DATA_DESCRIPTION_1') %>
              </p>
            </div>
            <div class="section">
              <h3>
                <%= __('FEATURESPAGE.DATA_SUBTITLE_2') %>
              </h3>
              <p>
                <%= __('FEATURESPAGE.DATA_DESCRIPTION_2') %>
              </p>
            </div>
            <div class="section">
              <h3>
                <%= __('FEATURESPAGE.DATA_SUBTITLE_3') %>
              </h3>
              <p>
                <%= __('FEATURESPAGE.DATA_DESCRIPTION_3') %>
              </p>
            </div>
          </div>
        </div>
      </li>
      <li>
        <div class="cards-inner">
          <img src="img/alert.png">
          <h1>
            <%= __('FEATURESPAGE.ALERTS_TITLE') %>
          </h1>
          <div class="inner-sections">
            <div class="section">
              <h3>
                <%= __('FEATURESPAGE.ALERTS_SUBTITLE_1') %>
              </h3>
              <p>
                <%= __('FEATURESPAGE.ALERTS_DESCRIPTION_1') %>
              </p>
            </div>
            <div class="section">
              <h3>
                <%= __('FEATURESPAGE.ALERTS_SUBTITLE_2') %>
              </h3>
              <p>
                <%= __('FEATURESPAGE.ALERTS_DESCRIPTION_2') %>
              </p>
            </div>
          </div>
        </div>
      </li>
      <li>
        <div class="cards-inner">
          <img src="img/widget.png">
          <h1>
            <%= __('FEATURESPAGE.WIDGET_TITLE') %>
          </h1>
          <div class="inner-sections">
            <div class="section">
              <h3>
                <%= __('FEATURESPAGE.WIDGET_SUBTITLE_1') %>
              </h3>
              <p>
                <%= __('FEATURESPAGE.WIDGET_DESCRIPTION_1') %>
              </p>
            </div>
            <div class="section">
              <h3>
                <%= __('FEATURESPAGE.WIDGET_SUBTITLE_2') %>
              </h3>
              <p>
                <%= __('FEATURESPAGE.WIDGET_DESCRIPTION_2') %>
              </p>
            </div>
          </div>
        </div>
      </li>
      <li>
        <div class="cards-inner">
          <img src="img/pulse.png">
          <h1>
            <%= __('FEATURESPAGE.MARKET_TITLE') %>
          </h1>
          <div class="inner-sections">
            <div class="section">
              <h3>
                <%= __('FEATURESPAGE.MARKET_SUBTITLE_1') %>
              </h3>
              <p>
                <%= __('FEATURESPAGE.MARKET_DESCRIPION_1') %>
              </p>
            </div>
            <div class="section">
              <h3>
                <%= __('FEATURESPAGE.MARKET_SUBTITLE_2') %>
              </h3>
              <p>
                <%= __('FEATURESPAGE.MARKET_DESCRIPION_2') %>
              </p>
            </div>
            <div class="section">
              <h3>
                <%= __('FEATURESPAGE.MARKET_SUBTITLE_3') %>
              </h3>
              <p>
                <%= __('FEATURESPAGE.MARKET_DESCRIPION_3') %>
              </p>
            </div>
          </div>
        </div>
      </li>
      <li>
        <div class="cards-inner">
          <img src="img/stock-det.png">
          <h1>
            <%= __('FEATURESPAGE.STOCK_DETAILS_TITLE') %>
          </h1>
          <div class="inner-sections">
            <div class="section">
              <h3>
                <%= __('FEATURESPAGE.STOCK_DETAILS_SUBTITLE_1') %>
              </h3>
              <p>
                <%= __('FEATURESPAGE.STOCK_DETAILS_DESCRIPTION_1') %>
              </p>
            </div>
            <div class="section">
              <h3>
                <%= __('FEATURESPAGE.STOCK_DETAILS_SUBTITLE_2') %>
              </h3>
              <p>
                <%= __('FEATURESPAGE.STOCK_DETAILS_DESCRIPTION_2') %>
              </p>
            </div>
            <div class="section">
              <h3>
                <%= __('FEATURESPAGE.STOCK_DETAILS_SUBTITLE_3') %>
              </h3>
              <p>
                <%= __('FEATURESPAGE.STOCK_DETAILS_DESCRIPTION_3') %>
              </p>
            </div>
            <div class="section">
              <h3>
                <%= __('FEATURESPAGE.STOCK_DETAILS_SUBTITLE_4') %>
              </h3>
              <p>
                <%= __('FEATURESPAGE.STOCK_DETAILS_DESCRIPTION_4') %>
              </p>
            </div>
            <div class="section">
              <h3>
                <%= __('FEATURESPAGE.STOCK_DETAILS_SUBTITLE_5') %>
              </h3>
              <p>
                <%= __('FEATURESPAGE.STOCK_DETAILS_DESCRIPTION_5') %>
              </p>
            </div>
          </div>
        </div>
      </li>
      <li>
        <div class="cards-inner">
          <img src="img/profile-tracker.png">
          <h1>
            <%= __('FEATURESPAGE.PORTFOLIO_TRACKER_TITLE') %>
          </h1>
          <div class="inner-sections">
            <div class="section">
              <h3>
                <%= __('FEATURESPAGE.PORTFOLIO_TRACKER_SUBTITLE_1') %>
              </h3>
              <p>
                <%= __('FEATURESPAGE.PORTFOLIO_TRACKER_DESCRIPTION_1') %>
              </p>
            </div>
            <div class="section">
              <h3>
                <%= __('FEATURESPAGE.PORTFOLIO_TRACKER_SUBTITLE_2') %>
              </h3>
              <p>
                <%= __('FEATURESPAGE.PORTFOLIO_TRACKER_DESCRIPTION_2') %>
              </p>
            </div>
            <div class="section">
              <h3>
                <%= __('FEATURESPAGE.PORTFOLIO_TRACKER_SUBTITLE_3') %>
              </h3>
              <p>
                <%= __('FEATURESPAGE.PORTFOLIO_TRACKER_DESCRIPTION_3') %>
              </p>
            </div>
            <div class="section">
              <h3>
                <%= __('FEATURESPAGE.PORTFOLIO_TRACKER_SUBTITLE_4') %>
              </h3>
              <p>
                <%= __('FEATURESPAGE.PORTFOLIO_TRACKER_DESCRIPTION_4') %>
              </p>
            </div>
          </div>
        </div>
      </li>
      <li>
        <div class="cards-inner">
          <img src="img/news.png">
          <h1>
            <%= __('FEATURESPAGE.NEWS_TITLE') %>
          </h1>
          <div class="inner-sections">
            <div class="section">
              <h3>
                <%= __('FEATURESPAGE.NEWS_SUBTITLE_1') %>
              </h3>
              <p>
                <%= __('FEATURESPAGE.NEWS_DESCRIPTION_1') %>
              </p>
            </div>
            <div class="section">
              <h3>
                <%= __('FEATURESPAGE.NEWS_SUBTITLE_2') %>
              </h3>
              <p>
                <%= __('FEATURESPAGE.NEWS_DESCRIPTION_2') %>
              </p>
            </div>
          </div>
        </div>
      </li>
    </ul>
  </div>
</section>
<section class="app-support">
  <div class="wrapper">
    <h1>
      <%= __('HOMEPAGE.SECTION_4.TITLE') %>
    </h1>
    <ul>
      <li>
        <a href="https://itunes.apple.com/us/app/kuwait-jibla-finance/id948186516?mt=8" target="_blank">
          <img src="img/appbtn.png">
        </a>
      </li>
      <li>
        <a href="https://play.google.com/store/apps/details?id=jiblatech.com.kse2_android" target="_blank">
          <img src="img/gplay.png">
        </a>
      </li>
      <li>
        <a href="https://s3.eu-central-1.amazonaws.com/jibla-finance-desktop-mac/Jibla+Finance-0.9.3.dmg">
          <img src="img/macbtn.png">
        </a>
      </li>
      <li>
        <a href="https://s3.eu-central-1.amazonaws.com/jibla-finance-desktop-mac/Jibla+Finance+Setup+0.9.3.exe">
          <img src="img/windowbtn.png">
        </a>
      </li>
    </ul>
    <div class="app-lang">
      <%= __('HOMEPAGE.SECTION_4.DESCRIPTION') %>
    </div>
  </div>
</section>