<div class="wrapper">
  <div class="footer-logo">
    <img src="img/logo.png">
  </div>
  <ul class="footer-menu">
    <li>
      <a href="/">
        <%= __('HOME') %>
      </a>
    </li>
    <li>
      <a href="/features">
        <%= __('FEATURES') %>
      </a>
    </li>
    <li>
      <a href="https://www.jiblatech.com" target="_blank">
        <%= __('COMPANY') %>
      </a>
    </li>
    <li>
      <a href="/pricing">
        <%= __('PRICING') %>
      </a>
    </li>
    <li>
      <a href="/contact">
        <%= __('CONTACT') %>
      </a>
    </li>
  </ul>
  <ul class="footer-app-link">
    <li>
      <a href="https://itunes.apple.com/us/app/kuwait-jibla-finance/id948186516?mt=8" target="_blank">
        <img src="img/appbtn.png">
      </a>
    </li>
    <li>
      <a href="https://play.google.com/store/apps/details?id=jiblatech.com.kse2_android" target="_blank">
        <img src="img/gplay.png">
      </a>
    </li>
    <li>
      <a href="https://s3.eu-central-1.amazonaws.com/jibla-finance-desktop-mac/Jibla+Finance-0.9.3.dmg">
        <img src="img/macbtn.png">
      </a>
    </li>
    <li>
      <a href="https://s3.eu-central-1.amazonaws.com/jibla-finance-desktop-mac/Jibla+Finance+Setup+0.9.3.exe">
        <img src="img/windowbtn.png">
      </a>
    </li>
  </ul>
  <div class="copyright">&copy;
    <%= __('FOOTER.COPYRIGHT_TEXT') %>
  </div>
</div>